footer
  .container-fluid.text-center
    div
      a(href="#myPage" title="Нагору")
        span.glyphicon.glyphicon-chevron-up
    // TODO language support
    p.pull-left © 2018 #{siteTitle}. Усі права на текст та зображення застережено.
    ul.pull-right.list-inline
      li
        a(href='') User Agreement
      li
        a(href='') Credentials
