footer
  .container.text-center
    p.pull-left © 2018 Кодити з історіями. Усі права на текст та зображення застережено.
    ul.pull-right.list-inline
      li
        a(href='') User Agreement
      li
        a(href='') Credentials
