footer
  .container-fluid.text-center
    div
      a(href="#myPage" title="Нагору")
        span.glyphicon.glyphicon-chevron-up
    // TODO language support
    p.pull-left © 2018, #{siteLogo}. Усі права на тексти та зображення застережено.
    ul.pull-right.list-inline
      li
        a(href='/user_agreement') Публічний договір з користувачем
