extends layout

block content
  .jumbotron.text-center
    h1 Програмуємо... страшні історії
    p.lead Основи інформатики легко, весело й вичерпно.
    form(method='get' action='/lessons/dashboard')
      button.btn.btn-success.btn-lg        
        | Розпочати.
        br
        | Це безкоштовно!&nbsp;
        span.glyphicon.glyphicon-play
    p.lead
      i.fa.fa-lock
      | Гарантія захисту особистих даних 
  .container-fluid#about
    .row
      .col-sm-8
        h2 Чи можна програмувати... звичайною мовою?
        h4 Зазвичай для навчання використовують спрощену "псевдо-мову", якої треба навчитися. Але чому б не використати для початку мову, яку ти вже знаєш? 
        p "Кодити з історіями" — це знаходити закономірності в побудові справді цікавих історій. Адже все на світі пов'язане.
        button.btn.btn-default.btn-lg(data-toggle="collapse" data-target="#answ_1") Дізнатися більше »
        div.collapse#answ_1
          p Ви не зустрінете в нас означень на кшталт "оператор — це елемент мови, що задає повне описання дій, які необхідно виконати".
          p Ми зробили пояснення максимально доступними і водночас вичерпними. Видима простота наших історій та завдань насправді потребувала тривалої та ретельної праці.
          p У результаті з курсом можуть ознайомитися всі охочі. Усі теоретичні знання, усі історії та пояснення доступні безкоштовно і завжди будуть безкоштовними.
          p Ми беремо оплату лише за доступ до практичних занять. Курс "Кодити з історіями" покликаний дати інтегровані знання, глибоке розуміння основ програмування та креативного письма у легкій та цікавій формі. 
      .col-sm-4
        span.glyphicon.glyphicon-education.logo.slideanim
  .container-fluid.bg-grey
    .row
      .col-sm-4
        span.glyphicon.glyphicon-globe.logo.slideanim
      .col-sm-8
        h2 Про нас
        h4 ЧОМУ САМЕ МИ ЦЕ ПРИДУМАЛИ ТА ЗРОБИЛИ? 
        p ПЕТРО ЯЦЕНКО працював провідним програмістом у міжнародних компаніях і придумав, як навчити дітей та дорослих мислити послідовно й логічно.
        p ГАЛИНА ТКАЧУК написала понад 10 книг, які виграли чимало конкурсів. Курс "Кодити з історіями" базується на книзі "13 історій у темряві", яка виграла престижну премію "Книга Року Бі-Бі-Сі". 
        p ІРИНА МАМАЄВА, професійна дизайнерка та художниця, зробила ілюстрації для книги "13 історій у термряві".  
  .container-fluid.text-center#services 
    h2 ЧОМУ ЦЕЙ КУРС УНІКАЛЬНИЙ?
    p
    .row.slideanim
      .col-sm-4
        span.glyphicon.glyphicon-off.logo-small 
        h4 МИ ВИВЧИМО
        ul
          li Змінні
          li Функції
          li Умови
          li Цикли
      .col-sm-4
        span.glyphicon.glyphicon-heart.logo-small
        h4 ЦЕ ДУЖЕ ПРОСТО
        p Концентруємося на поняттях, спільних для всіх мов програмування. 
        p Не змушуємо вивчати "псевдо-мову".
      .col-sm-4
        span.glyphicon.glyphicon-lock.logo-small
        h4 МОЖНА ЗАЙМАТИСЯ САМОСТІЙНО
        p До 60 занять по 15-30 хвилин кожне.
        p Підтримка на весь термін передплати по телефону чи email.
      p
    .row.slideanim
      .col-sm-4
        span.glyphicon.glyphicon-leaf.logo-small
        h4 ПОТРІБНІ ЛИШЕ
        ul
          li Комп'ютер чи планшет 
          li Доступ до інтернету
        p можливо, але не обов'язково:
        ul
          li Принтер
      .col-sm-4
        span.glyphicon.glyphicon-certificate.logo-small
        h4 НЕМАЄ ОБМЕЖЕНЬ
        p Ми не визначаємо потрібний для занять вік, а лише необхідні навички:
        ul
          li уміти читати
          li розуміти поняття "більше" та "менше"
          li любити вигадувати
          li не боятися монстрів
      .col-sm-4
        span.glyphicon.glyphicon-wrench.logo-small
        h4 СВОЮ ІСТОРІЮ МОЖНА 
        ul
          li зберегти в PDF 
          li переслати на e-mail 
          li поширити у Facebook чи Instagram
          li негайно роздрукувати!
  .container-fluid.text-center.bg-grey#monsters
    h2 ЗНАЙОМСЯ З НАШИМИ МОНСТРАМИ
    h4 що вони вміють?
    .row.text-center.slideanim
      each variable in monsters
        if (variable.enabled)
          .col-sm-4
            .thumbnail
              img(src= '/images/practice/monsters_small/' + variable.monster + '.png' alt= variable.monster)
              p 
                strong= variable.name_uk
              p= variable.talent_uk 
  h2.text-center Що про нас говорять діти:
  div#myCarousel.carousel.slide.text-center(data-ride="carousel")
    <!-- Indicators -->
    ol.carousel-indicators
      li.active(data-target="#myCarousel" data-slide-to="0")
      li(data-target="#myCarousel" data-slide-to="1")
      li(data-target="#myCarousel" data-slide-to="2")

    <!-- Wrapper for slides -->
    div.carousel-inner(role="listbox")
      .item.active
        h4 "Чудові історії! Мені було дуже цікаво зрозуміти, як їх писати."
          br
          span(style="font-style: normal;") Матвій Яценко, 11 років, Львів
      .item
        h4 "Ніколи б не подумала, що програмувння — це так весело!"
          br
          span(style="font-style: normal;") Оксана Була, 9 років, Київ
      .item
        h4 "Я захотів стати письменником. Тут розкрито їхні секрети."
          br
          span(style="font-style:normal;") Андрій Садовий, 49 років, Львів
    <!-- Left and right controls -->
    a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      span.sr-only Previous
    a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      span.sr-only Next
  .container-fluid#prices
    .text-center
      h2 Ціни
      h4 Вибери, які можливості пасують дитині більше
    .row.slideanim
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Базовий
          .panel-body
            p
              strong 20 уроків
            p
              strong 3 практичні заняття
            p 
              strong 3 тести
            p 
              strong 1 монстр
            p 
              strong 
                Endless 
              Amet
          .panel-footer
            h3 UAH 0.00
            h4 за місяць
            button.btn.btn-lg Хочу!
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Просунутий
          .panel-body
            p
              strong 20 уроків
            p
              strong 30 практичних занять
            p 
              strong 30 тестів
            p 
              strong 3 монстри
            p 
              strong 
                Endless 
              Amet
          .panel-footer
            h3 UAH ХХХ
            h4 за півроку
            button.btn.btn-lg Хочу!
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Преміум
          .panel-body
            p
              strong 20 уроків
            p
              strong 60 практичних занять
            p 
              strong 60 тестів
            p 
              strong 6 монстрів
            p 
              strong 
                Endless 
              Amet
          .panel-footer
            h3 UAH YYY
            h4 за рік
            button.btn.btn-lg Хочу!
  .container-fluid#faq   
    h2 Поширені запитання:          
    .row.slideanim
      .col-sm-6
        h3 Так ви навчаєте писати код чи історії?        
        p Ми не навчаємо дітей писати код. Ми допомагаємо зрозуміти принципи, за якими побудовані найбільш розповсюджені програми.
        p Це переважна більшість коду у всесвітній мережі та прикладних програм на вашому телефоні, планшеті чи комп'ютері.
        p Ми помітили, що ці принципи також можна застосувати для написання цікавих історій і вирішили: чому б не поєднати приємне з корисним?
        p Таким чином, пишучи історії, дитина навчається розуміти їхні закономірності — такі самі, які знадобляться їй для написання коду.
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h3 Як моя дитина зможе застосувати свої знання?
        p По-перше, розуміння того, як побудовані "книжкові" історії дасть дитині підґрунтя для майбутнього творчого підходу до багатьох завдань. 
        p Учень розуміє, що поняття однієї дисципліни можна застосовувати для іншої. Креативний підхід допоможе в програмуванні, адже мова програмування — це лише інструмент для досягнення цілей, 
        p Навички мислити цілями, а не обмеженнями, зробили знаменитими таких персон як Ілон Маск, Річард Бренсон та Стів Джобс. 
        p Уміння ж застосовувати для оформлення креативних ідей логічні структури допоможе не лише в написанні власних історій, а й загалом у чіткому баченні, як реалізувати будь-яку нову ідею чи план.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h3 Як можна перевірити отримані знання?
        p Ми не ставимо за мету, аби дитина зазубрила визначення й терміни або переживала, що неї чекає тест із оцінкою, за яку її можуть критикувати батьки. 
        p У кінці кожного розділу є урок "Ще раз про головне", де ми пояснюємо поняття, про які йшлося і пропонуємо відповісти на кілька запитань.  
        p В результаті учень отримує заохочення до наступних уроків або пропозицію пройти розділ знову та спробувати практичні заняття з іншими монстрами.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h3 Чому моя дитина має знати це так рано?
        p Відповідь проста: щоби далі їй було легше вчитися. Розуміння основних принципів програмування цілком доступне дітям вже у перших класах. 
        p  Не залежно від того, стане ваш син чи донька програмістом, чи ні, навички логічного мислення дуже важливі в суспільстві. 
        p За десяток років набирає і втрачає популярність чимало мов програмування, але їх основа залишається незмінною. 
        p
          a.btn.btn-default(href='#', role='button') View details »
  .container-fluid.bg-grey#contact
    h2.text-center КОНТАКТИ
    .row
      .col-sm-5
        p Напишіть, і ми відповімо впродовж 24 годин
        p 
          span.glyphicon.glyphicon-map-marker 
          |&nbsp; Київ, Україна
        p
          span.glyphicon.glyphicon-phone 
          |&nbsp; +38 097 000 00 00
        p 
          span.glyphicon.glyphicon-envelope 
          |&nbsp; storycoding@gmail.com
      .col-sm-7.slideanim
        .row
          .col-sm-6.form-group
            input.form-control#name(name="name" placeholder="Name" type="text" required)
          .col-sm-6.form-group
            input.form-control#email(name="email" placeholder="Email" type="email" required)
        textarea.form-control#comments(name="comments" placeholder="Comment" rows="5")
        p
        .row
          .col-sm-12.form-group
            button.btn.btn-default.pull-right(ype="submit") Send