extends layout

block content
  div.jumbotron.text-center
    h1 Кодити з історіями
    p.lead Основи програмування легко, весело й вичерпно.
  
  div.container-fluid
    div.row
      div.col-sm-8
        h2 Ти навчишся програмувати... звичайною мовою, якою ми спілкуємося!
        h4 Зазвичай для навчання використовують спрощену "псевдо-мову", якої треба навчитися, але потім ніколи не використовувати. 
        p "Кодити з історіями" -- це знаходити закономірності в історіях. Адже все на світі пов'язане.
        button.btn.btn-default.btn-lg Дізнатися більше...
      div.col-sm-4
        span.glyphicon.glyphicon-education.logo
  hr  
  div.container-fluid.bg-grey
    div.row
      div.col-sm-4
        span.glyphicon.glyphicon-globe.logo
      div.col-sm-8
        h2 Our Values
        h4 MISSION: Our mission lorem ipsum.. 
        p VISION: Our vision Lorem ipsum..
  .row
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »