extends layout

block content
  .jumbotron.text-center
    h1 Програмуємо... страшні історії!
    p.lead Основи інформатики легко, весело й вичерпно.
    form(method='get' action='/lessons/dashboard')
      button.btn.btn-success.btn-lg        
        | Розпочати.
        br
        | Це безкоштовно!&nbsp;
        span.glyphicon.glyphicon-play
    p.lead
      i.fa.fa-lock
      | Гарантія захисту особистих даних 
  .container-fluid#about
    .row
      .col-sm-8
        h2 Чи можна програмувати... звичайною мовою?
        h4 Зазвичай для навчання використовують спрощену "псевдо-мову", якої треба навчитися. Але чому б не використати для початку мову, яку ти вже знаєш? 
        p "Кодити з історіями" — це знаходити закономірності в побудові справді цікавих історій. Адже все на світі пов'язане.
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#answ_1") Дізнатися більше »
        div.collapse#answ_1
          p Ви не зустрінете в нас означень на кшталт "оператор — це елемент мови, що задає повне описання дій, які необхідно виконати".
          p Ми зробили пояснення максимально доступними і водночас вичерпними. Видима простота наших історій та завдань насправді потребувала тривалої та ретельної праці.
          p У результаті з курсом можуть ознайомитися всі охочі. Усі теоретичні знання, усі історії та пояснення доступні безкоштовно і завжди будуть безкоштовними.
          p Ми беремо оплату лише за доступ до практичних занять. Курс "Кодити з історіями" покликаний дати інтегровані знання, глибоке розуміння основ програмування та креативного письма у легкій та цікавій формі. 
      .col-sm-4
        span.glyphicon.glyphicon-education.logo.slideanim
  .container-fluid.bg-grey
    .row
      .col-sm-4
        span.glyphicon.glyphicon-globe.logo.slideanim
      .col-sm-8
        h2 Про нас
        h4 ЧОМУ САМЕ МИ ЦЕ ПРИДУМАЛИ ТА ЗРОБИЛИ? 
        p ПЕТРО ЯЦЕНКО програміст та письменник, викладач, придумав, як навчити дітей та дорослих мислити послідовно й логічно.
        p ГАЛИНА ТКАЧУК написала понад 10 книг, які виграли чимало конкурсів. Курс "Кодити з історіями" базується на книзі "13 історій у темряві", яка виграла престижну премію "Книга Року Бі-Бі-Сі". 
        p ІРИНА МАМАЄВА, професійна дизайнерка та художниця, зробила ілюстрації для книги "13 історій у термряві".  
  .container-fluid.text-center#services 
    h2 ЧОМУ ЦЕЙ КУРС УНІКАЛЬНИЙ?
    p
    .row.slideanim
      .col-sm-4
        span.glyphicon.glyphicon-off.logo-small 
        h4 МИ ВИВЧИМО
        ul
          li Змінні
          li Функції
          li Умови
          li Цикли
      .col-sm-4
        span.glyphicon.glyphicon-heart.logo-small
        h4 ЦЕ ДУЖЕ ПРОСТО
        p Концентруємося на поняттях, спільних для всіх мов програмування. 
        p Не змушуємо вивчати "псевдо-мову".
      .col-sm-4
        span.glyphicon.glyphicon-lock.logo-small
        h4 МОЖНА ЗАЙМАТИСЯ САМОСТІЙНО
        p До 60 занять по 15-30 хвилин кожне.
        p Підтримка на весь термін передплати по телефону чи email.
      p
    .row.slideanim
      .col-sm-4
        span.glyphicon.glyphicon-leaf.logo-small
        h4 ПОТРІБНІ ЛИШЕ
        ul
          li Комп'ютер чи планшет 
          li Доступ до інтернету
        p можливо, але не обов'язково:
        ul
          li Принтер
      .col-sm-4
        span.glyphicon.glyphicon-certificate.logo-small
        h4 НЕМАЄ ОБМЕЖЕНЬ
        p Ми не визначаємо потрібний для занять вік, а лише необхідні навички:
        ul
          li уміти читати
          li розуміти поняття "більше" та "менше"
          li любити вигадувати
          li не боятися монстрів
      .col-sm-4
        span.glyphicon.glyphicon-wrench.logo-small
        h4 СВОЮ ІСТОРІЮ МОЖНА 
        ul
          li зберегти в PDF 
          li переслати на e-mail 
          li поширити у Facebook чи Instagram
          li негайно роздрукувати!
  .container-fluid#monsters        
    h2.text-center ЗНАЙОМСЯ З НАШИМИ МОНСТРАМИ
    div#mrCollection.carousel.slide.text-center(data-ride="carousel")
      <!-- Indicators -->
      ol.carousel-indicators
        each val, ind in monsters
          if ind === 0
            li.active(data-target="#mrCollection" data-slide-to= ind)
          else
            li(data-target="#mrCollection" data-slide-to= ind)
      <!-- Wrapper for slides -->
      div.carousel-inner(role="listbox")
        - var active;
        each val, ind in monsters
          if ind === 0
            - active = 'active'
          else
            - active = ''
          .item(class= active)
            div
              img.img-responsive.center-block(src= '/images/heroes/' + val.monster + '.png' alt= val.monster)
              p 
                strong= val[state].name
              p= val[state].talent
      <!-- Left and right controls -->
      a.left.carousel-control(href="#mrCollection" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
      a.right.carousel-control(href="#mrCollection" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next
  .container#prices
    .text-center
      h2 Ціни
      h4 Вибери, які можливості пасують дитині більше
    .row.slideanim
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Базовий
          .panel-body
            p
              strong 20 уроків
            p
              strong 3 практичні заняття
            p 
              strong 3 тести
            p 
              strong 1 монстр       
          .panel-footer
            h3 UAH 0.00
            h4 за місяць
            button.btn.btn-lg Хочу!
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Оптимум
          .panel-body
            p
              strong 20 уроків
            p
              strong 30 практичних занять
            p 
              strong 30 тестів
            p 
              strong 3 монстри           
          .panel-footer
            h3 UAH ХХХ
            h4 за півроку
            button.btn.btn-lg Хочу!
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Преміум
          .panel-body
            p
              strong 20 уроків
            p
              strong 60 практичних занять
            p 
              strong 60 тестів
            p 
              strong 6 монстрів          
          .panel-footer
            h3 UAH YYY
            h4 за рік
            button.btn.btn-lg Хочу!
  .container#faq   
    h2 Поширені запитання:          
    .row.slideanim
      .col-sm-3
        h3 Так ви навчаєте писати код чи історії?        
        p Ми не навчаємо дітей писати код. Ми допомагаємо зрозуміти принципи, за якими побудовані найбільш розповсюджені програми.
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_1") Далі »
        div.collapse#quest_1
          p Це переважна більшість коду у всесвітній мережі та прикладних програм на вашому телефоні, планшеті чи комп'ютері.
          p Ми помітили, що ці принципи також можна застосувати для написання цікавих історій і вирішили: чому б не поєднати приємне з корисним?
          p Таким чином, пишучи чудові історії, дитина навчається розуміти їхні закономірності — такі самі, які, можливо, знадобляться їй для написання чудових програм.
        p  
      .col-sm-3
        h3 Як дитина зможе застосувати знання?       
        p По-перше, розуміння того, як побудовані "книжкові" історії дасть дитині підґрунтя для майбутнього творчого підходу до багатьох завдань. 
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_2") Далі »
        div.collapse#quest_2  
          p Учень розуміє, що поняття однієї дисципліни можна застосовувати для іншої. Креативний підхід допоможе в програмуванні, адже мова програмування — це лише інструмент для досягнення цілей, 
          p Навички мислити цілями, а не обмеженнями, зробили знаменитими таких персон як Ілон Маск, Річард Бренсон та Стів Джобс. 
          p Уміння ж застосовувати для оформлення креативних ідей логічні структури допоможе не лише в написанні власних історій, а й загалом у чіткому баченні, як реалізувати будь-яку нову ідею чи план.
        p
      .col-sm-3
        h3 Як можна перевірити отримані знання?
        p Ми не ставимо за мету, аби дитина зазубрила визначення й терміни або переживала, що неї чекає тест із оцінкою, за яку її можуть критикувати батьки. 
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_3") Далі »
        div.collapse#quest_3
          p У кінці кожного розділу є урок "Ще раз про головне", де ми пояснюємо поняття, про які йшлося і пропонуємо відповісти на кілька запитань.  
          p В результаті учень отримує заохочення до наступних уроків або пропозицію пройти розділ знову та спробувати практичні заняття з іншими монстрами.
        p
      .col-sm-3
        h3 Чому моя дитина має знати це так рано?
        p Відповідь проста: щоби далі їй було легше вчитися. Розуміння основних принципів програмування цілком доступне дітям вже у перших класах. 
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_4") Далі »
        div.collapse#quest_4 
          p Не залежно від того, стане ваш син чи донька програмістом, чи ні, навички логічного мислення дуже важливі в суспільстві. 
          p За десяток років набирають та втрачають популярність чимало мов програмування, але їх основа залишається незмінною. 
        p
  .container-fluid.bg-grey#contact
    h2.text-center КОНТАКТИ
    .row
      .col-sm-5
        p Напишіть, ми відповімо впродовж 24 годин
        p 
          span.glyphicon.glyphicon-map-marker 
          |&nbsp; Київ, Україна
        p
          span.glyphicon.glyphicon-phone 
          |&nbsp; +38 097 000 00 00
        p 
          span.glyphicon.glyphicon-envelope 
          |&nbsp; storycoding@gmail.com
      .col-sm-7.slideanim
        .row
          .col-sm-6.form-group
            input.form-control#name(name="name" placeholder="Name" type="text" required)
          .col-sm-6.form-group
            input.form-control#email(name="email" placeholder="Email" type="email" required)
        textarea.form-control#comments(name="comments" placeholder="Comment" rows="5")
        p
        .row
          .col-sm-12.form-group
            button.btn.btn-default.pull-right(ype="submit") Send