extends layout

block content
  .page-header
    h1 ПУБЛІЧНИЙ ДОГОВІР З КОРИСТУВАЧЕМ
    ol(type='1') 
      li 
        h3 Поняття та терміни
        ol 
          li 
            strong Платформа 
            | – інтернет-портал “ЧудоваПроза”, розміщений за веб-адресою www.greatprose.com у мережі Інтернет.          
          li            
            strong Студент 
            | – фізична особа, яка пройшла процеси ідентифікації, автентифікації та авторизації, щоби отримати послуги, які надає Платформа. 
          li
            strong Автор 
            | – особа, яка уклала з Платформою угоду щодо використання результатів своєї інтелектуальної праці (ілюстрації, навчальні матеріали, методики тощо) у навчальних курсах Платформи.
          li
            strong Реєстрація 
            | — процедура, в ході якої Студент або Автор повністю і беззаперечно приймає умови цього договору, надає достовірні дані про себе за затвердженою формою. Моментом Реєстрації та прийняття цього публічного договору (надалі – <strong> Угода </strong>) вважається момент натискання кнопки “Створити профіль” на сторінці “Реєстрація” (www.greatprose.com/signup). Це означає, що Студент чи Автор повністю згоден з усіма пунктами цієї Угоди від свого імені (якщо він повнолітня особа), від свого імені за згодою своїх батьків / законного представника або від імені неповнолітнього, одним із батьків і / або законним представником якого він є.
          li          
            strong Підтримка 
            | – фахівець або група фахівців, які консультують Студентів з технічних питань роботи Платформи, крім питань налаштування обладнання Студента та інших питань, що не мають прямого стосунку до Платформи.
          li 
            strong Керівництво 
            | – особа або група осіб, яка є офіційними уповноваженими представниками Платформи і здійснює юридичний та фактичний супровід роботи Платформи.
          li 
            strong Результати 
            | – продукти виконання практичних та інших завдань навчальних курсів Платформи Студентами, які зберігаються в електронній формі на серверах Платформи, а також можуть бути збереженими на інших фізичних носіях.
      li  
        h3 Загальні положення
        ol
          li Предметом цієї Угоди Платформи з користувачем (Студентом чи Автором) є проведення дистанційних навчальних курсів, а також інших заходів, інформація про які розміщена на Платформі (надалі – <strong> Послуги </strong>).
          li До моменту Реєстрації на Платформі Студент зобов'язаний повністю ознайомитися з цією Угодою.
          li Пропозиція Керівництва Платформи прийняти умови цієї Угоди є публічною офертою. Прийняття Студентом умов Угоди є акцептом, який має наслідком виникнення у Студента відповідних обов'язків щодо дотримання правил, передбачених цією Угодою.
          li Реєстрація Студента на Платформі означає, що Студент беззаперечно і в повному обсязі приймає цю Угоду (акцепт оферти).
          li Керівництво Платформи залишає за собою право змінювати і (або) доповнювати цю Угоду в будь-який момент без попереднього сповіщення Студенту.
          li Обов'язок ознайомлення з діючою редакцією Угоди покладається на Студента (чинна редакція Угоди розташована в мережі Інтернет за адресою: www.greatprose.com/user_agreement).
          li Користування послугами, представленими на Платформі після внесення змін та (або) доповнень до Угоди означає, що Студент згоден з такими змінами і (або) доповненнями.
          li З метою підтримки повноцінного доступу до Платформи необхідні такі технічні вимоги:
            ul
              li найновіша версія браузера: Microsoft Edge, Google Chrome, Firefox, Safari (браузер має підтримувати CSS 3.0, JavaScript 2.0, сookies, Web Sessions, HTML5);
              li постійне Інтернет-підключення з пропускною здатністю не менше 128 кбіт / с (кілобіт на секунду);
              li рекомендована діагональ екрану мобільного пристрою – не менше 5 дюймів (12,7 см).
      li  
        h3 Права та обов'язки сторін
        ol    
          li 
            h4 Права та обов'язки Керівництва
            ol
              li Керівництво з метою збереження інформації, важливої для Студента, регулярно створює резервні копії даних з можливістю їх подальшого відновлення.
              li Керівництво зобов'язується надати свої послуги Студенту і підтримувати в робочому стані до припинення дії цієї Угоди послуги, перевірені і введені в регулярну експлуатацію на Платформі.
              li Керівництво залишає за собою право вивчати поведінку Студентів в межах використання ними послуг Платформи і запобігати публікації будь-яких матеріалів, в тому числі висловлювань, які порушують цю Угоду, а також накладати на Студента відповідальність, передбачену в цій Угоді, яка знаходиться в компетенції Керівництва.
              li У випадку, якщо з певних причин Студент не може використовувати  електронну адресу, записану в базу даних Платформи під час Реєстрації, Підтримка може змінити її на нову тільки після перевірки відповідності даних Студента, зазначених під час реєстрації на Платформі (надання копій документів, які посвідчують особу, додаткових запитань тощо).
              li Керівництво не зобов'язується повертати або знищувати Результати, надані Студентами під час користування послугами Платформи.
              li Керівництво не несе відповідальності у разі прямих або непрямих фінансових чи інших втрат Студента, викликаних тимчасовою непрацездатністю Платформи з наступних причин: планові або позапланові технічні та профілактичні роботи, технічні збої інтернет-провайдерів, комп'ютерних мереж, серверів і засобів, а також протиправні дії третіх осіб або форс-мажорні обставини. При цьому Керівництво бере на себе зобов'язання докласти максимум зусиль для відновлення працездатності Платформи в найкоротші терміни.
              li Керівництво зберігає за собою право в будь-який час змінити оформлення Платформи, її зміст, список Послуг, змінювати і (або) доповнювати використовувані скрипти, програмне забезпечення, сервісні додатки та інші об'єкти, які використовуються або зберігаються на Платформі, зі сповіщенням або без сповіщення Студенту.
          li 
            h4 Права та обов'язки Студента та Автора
            ol  
              li Студент має право використовувати на умовах цієї Угоди всі введені в регулярну експлуатацію послуги Платформи для написання і відправки власних Результатів, не заборонених цією Угодою і таких, що не порушують законодавство України.
              li З метою збереження в таємниці доступу до особистої інформації Студент чи Автор бере на себе відповідальність за зберігання пароля, нерозголошення пароля третім особам свідомо, а також відповідальність за своєчасну зміну пароля за допомогою інтерфейсів системи у разі втрати чи за іншої необхідності.
              li У разі, якщо Студент чи Автор виявляє факти, що дають підстави вважати, що його доступ був використаний ким-небудь несанкціоновано, він повинен негайно звернутися до Підтримки, відправивши електронного листа на пошту info@gp.ua
              li Користувач, зареєстрований на Платформі як Автор, має право переглядати результати і статистику продажів свого курсу.
              li Студент, пройшовши Реєстрацію на Платформі, автоматично дозволяє переглядати результати проходження навчальних курсів та свої Результати призначеним для цієї мети Керівництвом уповноваженим особам.
              li Студент та Автор погоджуються не робити дій, які можуть розглядатися як ті, що порушують закони України або норми міжнародного права, в тому числі у сфері інтелектуальної власності, авторських і / або суміжних прав, а також будь-яких дій, які призводять або можуть призвести до порушення нормальної роботи Платформи і Послуг.
              li Результати та інші дописи Студента на Платформі не повинні вступати в протиріччя з вимогами законодавства України і загальноприйнятих норм моралі та моральності.
              li Студент попереджений про те, що Керівництво не несе відповідальності за відвідування і використання ним зовнішніх ресурсів, посилання на які можуть міститися на Платформі.
              li Студент чи Автор згоден з тим, що Керівництво не несе відповідальності і не має прямих або непрямих зобов'язань перед Студентом у зв'язку з будь-якими можливими або тими, що виникли, втратами або збитками, пов'язаними з будь-яким вмістом Платформи, реєстрацією авторських прав і відомостями про таку реєстрацію, товарами або послугами, доступними на або отриманими через зовнішні сайти або ресурси або інші контакти Студента, в які він вступив, використовуючи розміщену на Платформі інформацію або посилання на зовнішні ресурси.
              li Студент чи Автор приймає положення про те, що всі матеріали і Послуги Платформи або будь-яка їх частина можуть супроводжуватися рекламою. Студент згоден з тим, що Керівництво Платформи не несе жодної відповідальності і не має жодних зобов'язань щодо змісту такої реклами.
              li Студент чи Автор погоджується з тим, що Керівництво має право на власний розсуд і без спеціального повідомлення або попередження обмежувати доступ Студента до Платформи через порушення вимог цієї угоди.
              li Студент погоджується з тим, що Керівництво Платформи може використовувати його особисті дані без передачі третім особам з метою проведення маркетингових досліджень та маркетингових заходів, а також направляти на надану електронну адресу і розміщувати в просторі, обмеженому доступом Студента, рекламні та інформаційні повідомлення.
          li 
            h4 Студентові заборонено:
            ol
              li Завантажувати, розміщувати, передавати за допомогою програмних засобів Платформи, і / або будь-якого іншого способу публікації текстів, програм, зображень або матеріалів, що пропагують терористичну діяльність, розпалюють міжнаціональну, расову чи релігійну ворожнечу, відображають або пропагують насильство або смерть, містять опис або зображення заподіяння шкоди неповнолітнім особам у будь-якій формі, включаючи будь-які форми порнографії.
              li Завантажувати, розміщувати, передавати за допомогою програмних засобів Платформи або будь-якого іншого способу публікації текстів, програм, зображень або матеріалів, які містять непристойний зміст та інформацію, що у будь-якій формі спонукає до незаконних дій, зокрема азартних ігор, нелегального продажу зброї, наркотичних речовин, алкоголю, тютюнових виробів тощо.
              li Здійснювати, закликати або допускати вчинення діянь, переслідуваних згідно із законодавством України.
              li Завантажувати, зберігати або передавати будь-яку рекламну інформацію, опис шахрайських схем, схем мережевого маркетингу (MLM), систем заробітку в мережі інтернет тощо.
              li Завантажувати Результати загальним обсягом понад один мегабайт для одного навчального курсу.
              li Видавати себе за іншу людину або представника організації і / або співтовариства, а також вводити інших Студентів в оману.
              li Збирати і зберігати дані інших Студентів поза Платформою в ручному або автоматизованому режимі.
              li Будь-яким способом перешкоджати роботі Платформи, у тому числі шляхом завантаження, зберігання, передачі або розміщення матеріалів, що містять віруси або інші комп'ютерні коди, файли або програми, призначені для порушення, знищення або обмеження функціональності будь-якого комп'ютерного або телекомунікаційного устаткування або програм, для здійснення несанкціонованого доступу , а також серійні номери до комерційних програмних продуктів і програми для їх генерації, логіни, паролі та інші засоби для отримання несанкціонованого доступу до платних Послуг Платформи, а також розміщення посилань на вищезгадану інформацію.
      li  
        h3 Обробка персональних даних
        ol
          li Платформа зберігає персональну інформацію, необхідну для Реєстрації на Платформі, а також для надання окремих Послуг, а саме:
            ul
              li для відповідей на питання Студента;
              li для публікації відгуків Студента;
              li для зворотного зв'язку зі Студентом і пересилання новин в разі, якщо Студент залишив свої дані через форму підписки на новини Платформи. 
              li для надсилання інформації (в т.ч. рекламної) з метою пропозиції послуг;
              li інше.
          li Прийняттям цієї Угоди Студент дає згоду на обробку персональних даних Платформою, зокрема:
            ul    
              li для інформування;
              li звернення до клієнтів за допомогою смс і телефону;
              li інше.
          li Керівництво зберігає персональну інформацію Студента відповідно до внутрішніх регламентів і вимог чинного законодавства.
          li Відносно персональної інформації Студента зберігається її конфіденційність, крім випадків добровільного надання Студентом інформації про себе для загального доступу необмеженому колу осіб.
          li Керівництво Платформи має право передати персональну інформацію Студента третім особам у таких випадках:
            ul
              li Студент висловив свою згоду на такі дії;
              li це необхідно в межах використання Студентом Послуг Платформи;
              li це передбачено законодавством в межах встановленої законодавством процедури;
              li у рамках продажу або іншої передачі бізнесу (повністю або частково), при цьому до набувача переходять усі зобов'язання по дотриманню умов конфіденційності стосовно отриманої ним персональної інформації.
          li Студент має право змінити надану інформацію на сторінці “Мій профіль” (www.greatprose.com/account).
          li Студент має право відкликати свою згоду на обробку персональної інформації, надіславши письмову заяву через форму зворотного зв’язку Платформи.
      li  
        h3 Права на інтелектуальну власність
        ol
          li Об'єкти, розміщені на Платформі: елементи дизайну, текст, ілюстрації, зображення, відео, програми, програмний код, скрипти, інші об'єкти (далі – Власність) є об'єктами виключного права Платформи (правовласника).
          li Результати інтелектуальної діяльності і прирівняні до них засоби індивідуалізації охороняються чинним цивільним законодавством про інтелектуальну власність, а також міжнародними конвенціями в галузі інтелектуальної власності.
          li Відповідно до четвертої частини Цивільного кодексу України Власність не може бути відтворена (у т.ч. за допомогою копіювання) перероблена, поширена, опублікована або використана в інший спосіб (як цілком, так і частково) без попередньої згоди правовласника, за винятком тих випадків, коли правовласник висловив свою згоду на вільне використання Власності будь-якою особою.
          li Платформі належить виключне право на всі твори (матеріали), що використовуються в процесі надання послуг і можуть бути використані Студентом тільки в процесі отримання послуг. Будь-яке інше використання можливо тільки з письмової згоди Керівництва.
          li При дозволеному використанні інформації Платформи Студент зобов'язаний вказувати посилання з наступними даними: “Навчальна платформа “Чудова проза”. У разі використання в мережі Інтернет посилання має бути активним і відкритим для індексації пошуковими системами гіперлінком, що веде на сайт www.greatprose.com
          li Авторські Результати, розміщені на Платформі Студентом, не повертаються. Керівництво Платформи має право розпоряджатися авторськими матеріалами Студента без отримання попередньої згоди Студента і виплати йому авторської винагороди.
          li Студент (законний представник Студента) дає свою згоду на використання отриманих в рамках творчого завдання результатів інтелектуальної діяльності будь-якими способами, передбаченими в статті Цивільного кодексу України, але із зазначенням імені Студента (автора).
      li  
        h3 Послуги
        ol
          li На Платформі надаються послуги з проведення дистанційних тренінгів, занять та навчальних курсів для Студентів.
          li Послуги надаються як на безоплатній, так і на платній основі. Перелік усіх послуг наведено на Платформі.
          li Надання частини послуг Студенту здійснюється на платній основі відповідно до тарифів, затверджених Керівництвом Платформи. Перелік та умови оплати платних послуг, обраних Студентом, порядок і терміни їх оплати розміщуються на Платформі в розділі «Ціни» (www.greatprose.com/#prices).
          li Студент зобов'язується самостійно і своєчасно знайомитися з послугами, що надаються Платформою, а також встановленими на них тарифами (інформація про які розміщена на Платформі).
          li Платні послуги надаються Студентові на умовах стовідсоткової передоплати відповідно до встановлених тарифів.
          li У разі відсутності оплати або ненадходження платежу у встановлений термін, Платформа має право відмовити Студентові в наданні обраної ним платної послуги.
          li Грошові кошти, внесені як оплата за користування платними послугами Платформи, не повертаються, у тому числі в разі відмови Студента від послуг Платформи.
          li За допущені під час процесу оплати помилки відповідає Студент.
      li  
        h3 Надзвичайні обставини, форс-мажор
        ol
          li У разі виникнення непередбачених надзвичайних ситуацій, внаслідок катастроф, пожеж, природних катаклізмів, а також внаслідок втручання третіх осіб, в тому числі державних служб безпеки і правоохоронних органів та інших надзвичайних і невідворотних за поточних умов обставин, за яких належне виконання виявилося неможливим, Платформа і Керівництво не несе відповідальності за припинення доступу Студента до його облікового запису, припинення роботи програмного забезпечення та обладнання, які здійснюють функціонування сервісу, часткову або повну втрату без можливості відновлення реєстраційних даних Студента та інформації, що зберігається Студентом в акаунті, а також його авторських Результатів і не зобов'язана відшкодовувати Студентові втрати чи збитки, яких зазнав Студент у зв'язку з цим.
          li Вирішення спорів і задоволення претензій
          li Використання матеріалів і Послуг Платформи регулюється нормами чинного законодавства України. Усі суперечки і претензії регулюються на підставі положень цієї Угоди, або в порядку, встановленому законодавством України.
          li Будь-які питання, коментарі та інша кореспонденція Студента повинні направлятися Керівництву за наступною адресою електронної пошти info@gp.ua Керівництво не несе відповідальності і не гарантує відповідь на запити, питання, пропозиції та іншу інформацію, спрямовані йому будь-яким іншим способом.
          li Студент чи Автор і Керівництво погоджуються, що всі суперечки і розбіжності, які можуть виникнути через цю Угоду або у зв'язку з нею, будуть вирішуватися шляхом переговорів. Якщо згоди не буде досягнуто, усі спори з приводу Угоди вирішуються відповідно до норм українського законодавства за місцем знаходження Керівництва.
          li Не приймаються претензії, що виникли внаслідок незадовільної роботи Платформи в результаті недостатньої технічної потужності обладнання або інтернет каналу Студента, неправильних налаштувань обладнання або програмного забезпечення на стороні Студента, застарілих програмних або апаратних засобів на стороні Студента чи Автора тощо.
      li 
        h3 Заключні положення
        ol
          li Ця угода набирає чинності після успішного проходження Студентом Реєстрації і діє до настання обставин, які обумовлюють необхідність зупинки функціонування Платформи і всіх її послуг, або до моменту розірвання відносин зі Студентом через порушення ним положень цієї Угоди, або через припинення експлуатації послуг Студентом, а також в інших випадках, передбачених законодавством України та цією Угодою.
          li Реєструючись на Платформі, Студент підтверджує свою згоду з усіма положеннями Угоди, а також свою відповідність усім умовам, відбитим в формах реєстрації і необхідним для успішної реєстрації на Платформі.
          li Питання, не врегульовані цією Угодою, підлягають вирішенню відповідно до чинного законодавства України.
          li Ця Угода не може бути трактована як договір про встановлення агентських відносин, відносин товариства, відносин по спільній діяльності, відносин особистого найму або якихось інших відносин між Студентом чи Автором і Платформою, які прямо не вказані в цій угоді.
