body { 
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Open Sans', 'sans-serif';
  color: #666;
}

/* Fix to override the w3c css. */
h1, h2, h3, h4 {
  margin: 0px;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 1455px;
	margin: 0px auto;
}

#tables_wrapper {
  display: table;
  width: 100%;
  background: black;
}

header, footer {
  color: #fff;
	padding: 0 15px;
  background: url("/images/dark_forest.jpg") no-repeat;
  background-size: 100%;
}

.task, 
.theory,
.expl_text,
.story_text {
  font-weight: bold;
  font-size: 1.5em;
  display: none;
  margin: 0;
  text-align: left;
}

.theory {
  display: block;
}

.task,
.expl_text {
  display: block;
  margin-right: 33%;
}

.theory_item {
  font-size: 1.3em;
}

.expl_item {
  font-size: 1.5em;
}

header {
  min-height: 300px;
}

#content {
	width: 290px;
	padding: 5px 15px;
}

#middle {
	width: 790px; /* Account for margins + border values */
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;  
}

#sidebar {
	width: 290px;
	padding: 5px 15px;
}

#pompon_img,
.middle_img,
.pompon_color {
  display:block;
  margin:auto;
}

.go_ahead {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: none; 
  width: 200px;
  height: 200px;
  text-align: center;
  display: block;
  align-items: center;
  margin: auto;
  font-size: 150%;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 20px;
}

.selected_monster,
ul.monsters_list {
  text-align: center;
  -webkit-padding-start: 0px;
}

.pointer {
  cursor: pointer;
}

.invisible {
  display: none;
} 

.white_back {
  background-color: #fff; 
}

.black {
  background: url("/images/button-black-200px.png") no-repeat;
}

.disabled {
  background: url("/images/button-grey-200px.png") no-repeat;
  pointer-events: none;
}

.enabled {
  background: url("/images/button-lightblue-200px.png") no-repeat;
  pointer-events: auto;
}

.darkblue {
  background: url("/images/button-darkblue-200px.png") no-repeat;
}

.green {
  background: url("/images/button-green-200px.png") no-repeat;
}

.yellow {
  background: url("/images/button-yellow-200px.png") no-repeat;
}

.red {
  background: url("/images/button-red-200px.png") no-repeat;
}

.visible {
  display: block !important;
}

footer {
	clear: both;
	padding: 0 15px;
  background-position-y: center;
  height: 200px;
}

select {
  font-size: 150%;
  padding: 10px;
  width: 250px;
}

ul.monsters_list li {
  display: inline-block;
}

#story_beginning {
  background-color: transparent;
  color: white;
  font-size: 150%;
}

.new_hero_talent {
  height: 40px;
  font-size: 150%;
}

#content, #middle, #sidebar {
	display: table-cell;
  vertical-align: top;
  text-align: center;
}

.img_container {
  position: relative;
  animation: monster_show 0.5s;
}

.your_text {
  position: absolute;
  top: 70%;
  width: 100%;
}

.your_story {
  resize: vertical;
  font-size: 2.0em;
  color: white;
  background: transparent;
  margin: auto;
  display: none;
}

.story {
  background: transparent;
  position: absolute;
  top: 3%;
  left: 12%;
  width: 75%;
  color: white;
  text-align: left;
  font-size: 1.5em;
}

.footer_title {
  padding: 1%;
  margin: 0;
}

#loop_img {
  padding-bottom: 20px;
}

dl {
  text-align: left;
}

@keyframes monster_show {
  0% { 
    -webkit-transform: rotateY(90deg) rotateX(90deg);
    transform: rotateY(90deg) rotateX(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
    opacity: 1;
  }
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
    width: 100%;
    margin: 0px;
	}
	#content {
		padding: 1% 4%;    
	}
	#middle {
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;		
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;	
	}
 
  #content, #middle, #sidebar {
    width: 100%;
    float: left;
  }

	header, footer {
		padding: 1% 4%;
	}
  
  .button, .button_center {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
  }
  
  header {
    background-repeat: repeat-y;
    background-position-y: center;
  }
  
  #sidebar {
    text-align: center;
  }
  
  footer {
    display: none;
  }

  .expl_text,
  .task {
    margin: 0;
  }
  
  .story {
    left: 15%;
  }
  
  .theory_item {
    font-size: 1.5em;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}
  
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	
  h1 {
		font-size: 2em;
	}
	
}