body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 1455px;
	margin: 20px auto;
}


#tables_wrapper {
  display: table;
  width: 100%;
  background: #f0efef;
}

header, footer {
  color: #fff;
	padding: 0 15px;
  background: url("/images/dark_forest.jpg") no-repeat;
  background-size: 100%;
}

.story_text {
  width: 60%;
  font-weight: bold;
  font-size: 180%;
  display: none;
}

.explanation_text {
  font-weight: bold;
  font-size: 180%;
} 

header {
  min-height: 300px;
}

#content {
	width: 290px;
	padding: 5px 15px;
}

#middle {
	width: 790px; /* Account for margins + border values */
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;  
}

#sidebar {
	width: 290px;
	padding: 5px 15px;
}

#pompon_img,
.middle_img,
.pompon_color {
  display:block;
  margin:auto;
}

.go_ahead {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: none; 
  width: 200px;
  height: 200px;
  text-align: center;
  display: block;
  align-items: center;
  margin: auto;
  font-size: 150%;
  margin-bottom: 20px;
  text-decoration: none;
}

.selected_monster,
ul.monsters_list {
  text-align: center;
  -webkit-padding-start: 0px;
}

.pointer {
  cursor: pointer;
}

.invisible {
  display: none;
} 

.black_back {
  background-color: #01292b; 
}

.black {
  background: url("/images/button-black-200px.png") no-repeat;
}

.disabled {
  background: url("/images/button-grey-200px.png") no-repeat;
  pointer-events: none;
}

.enabled {
  background: url("/images/button-lightblue-200px.png") no-repeat;
  pointer-events: auto;
}

.darkblue {
  background: url("/images/button-darkblue-200px.png") no-repeat;
}

.green {
  background: url("/images/button-green-200px.png") no-repeat;
}

.yellow {
  background: url("/images/button-yellow-200px.png") no-repeat;
}

.red {
  background: url("/images/button-red-200px.png") no-repeat;
}

.visible {
  display: block !important;
}

footer {
	clear: both;
	padding: 0 15px;
  background-position-y: center;
  height: 200px;
}

select {
  font-size: 150%;
  padding: 10px;
  width: 250px;
}

ul.monsters_list li {
  display: inline-block;
}

#story_beginning {
  background-color: transparent;
  color: white;
  font-size: 150%;
}

.new_hero_talent {
  height: 40px;
  font-size: 150%;
}

#content, #sidebar {
	/*background: #f0efef;*/
}

#content, #middle, #sidebar {
	display: table-cell;
  vertical-align: top;
  text-align: center;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 100%;
	}
	#content {
		width: 100%;
		padding: 1% 4%;    
	}
	#middle {
		width: 100%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;		
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: 100%;		
	}
  
  #tables_wrapper {
    display: block;
  }
  
  #content, #middle, #sidebar {    
    display: block;
    float: left;
  }

	header, footer {
		padding: 1% 4%;
	}
  
  .button {
    display: inline-block;
    vertical-align: top;
    padding-right: 4%;
  }
  
  header {
    background-repeat: repeat-y;
    background-position-y: bottom;
  }
  
  #sidebar {
    text-align: center;
  }
  
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}
  
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	
  h1 {
		font-size: 2em;
	}
	
}