extends ../layout

block content
  .container
    .col-sm-4.text-center
      p &nbsp;
        img#img1(src= '/images/stories/pompon/monster/monster_rises.png')
    .col-sm-8.text-center
      h2= status
      h4 Упс! Сталася прикра помилка!
       p Можливо, це витівки монстрів?