doctype html
html
  head
    title= title    
    meta(name='csrf-token', content=_csrf)
    block styles
            
    block scripts      
    
  body
    div#pagewrap
      block content

      block foot
        footer
          h3 Кодити з історіями!
          p= menu_items
