extends ../layout

block scripts
  script(src='/js/select_heroes.js')

block content
  h1= description
  div.text-center#zoo
    each variable in monsters_zoo
      if (variable.enabled)
        .col-sm-4
          .thumbnail
            img.pointer.w3-opacity.w3-hover-opacity-off(src= '/images/monsters_small/' + variable.monster 
            +'_medium.png' id= variable.monster alt= variable.monster)
            p 
              strong= variable.name_uk
            p= variable.talent_uk