extends ../layout

block scripts
  script.
    var nextPath = !{next_path} 

block content
  h2= title
  div
    iframe(width="560" height="315" 
      src="https://www.youtube.com/embed/0y6-4Gq3iP4?rel=0" 
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
    )
  div
    a.btn.btn-success.btn-lg(href="/lessons/dashboard")        
      | Повернутися до історій